.importanttext {
  color: red;
}

/* Pushbar */
.pushbar.from_right {
	width: 75%; !important;
	z-index: 99999;
}

.closebutton{
  top: calc(3%);;
  right: calc(5%);;
  position: fixed;
}

/* Floating feedback 
#float_feedback_process {
  top: calc(1%);;
  left: calc(2%);;
  z-index: 99;
  position: fixed;
  padding: 10px 10px 5px 5px;
  border-radius: 5px;
  max-width: 400px;
  color: white;
  text-align: center;
  background-color: #18bc9c;
  border-color: red;
  border-width: 5px;
}
*/

#css_feedback_process {
  padding: 10px 10px 5px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
  background-color: #18bc9c;
}


/* Sidebar */

.baseline_left{
  width: 95%;
  margin-left: 12px;
}

#float_action{
  bottom: calc(2%);;
  left: calc(2%);;
  border-radius: 5px;
  padding: 8px;
  border: 3px solid #18bc9c;
  background-color: white;
  width: 30%;
  z-index: 999;
  position: fixed;
}

.front_btn{
  z-index: 9999;
}


#margin_month_slider {
  margin-left:10px;
  margin-right:10px;
}

.popover{
    max-width: 35%; /* Max Width of the popover (depending on the container!) */
}

.modal-lg {
  width: 75%;
}


.shiny-notification {
    margin: auto;
    width: 400px;
    text-align: center;
    position:fixed;
    opacity: 1;
    bottom: calc(5%);
    left: calc(45%);
}




.interventions {
  padding: 5px;
  margin-bottom: 2px; 
}


h4 {
  color:  #2c3e50;
  margin: 5px;
}

.box_outputs {
  margin-top: 5px;
  margin-bottom: 15px;
  border-color: #2c3e50;
  border-top-style: inset;
  border-width: 3px 0 0 0;
}

.n_box {
  border: 2px solid black;
  padding: 0 0 5px 5px;
  border-radius: 6px;
}

.n_box_baseline {
  border: 4px solid #bae4bc;
  padding: 0 0 5px 5px;
  border-radius: 6px;
}

.n_box_interventions {
  border: 4px solid #3182bd;
  padding: 0 0 5px 5px;
  border-radius: 6px;
}

.icon_box {
  float: right;
  font-size: 30px;
  margin-right: 5px;
}