/* Pushbar */
.pushbar.from_right {
	width: 75%; !important;
	z-index: 99999;
}

.closebutton{
  top: calc(3%);;
  right: calc(5%);;
  position: fixed;
}

#logo { 
  width: 30%;
  float:right;
}

#logo-top {
   height: 40px;
   position: relative;
   top: -10px
}

#map {
  margin-top: 5px;
  width: 100%;
  border: 1px solid grey;
}



/* Sidebar */
.float_bottom_left{
  width: 15%;
  margin-left: 2px;
  bottom: calc(1%);;
  left: calc(2%);;
  background-color: #ecf0f1;
  border: 2px solid #7f8c8d;
  padding: 10px;
  z-index: 999;
  position: fixed;
}

.redbold {
  color: #EC6568;
  font-weight: bold;
}

.app-version {
  font-size: 1.1em;
  font-weight: bold;
  background-color: #FFFF00;
  color: #EC6568;
  border-radius: 5px;
  position:absolute;
  top: 10px;
  right: 20px;
  padding: 5px;
  z-index: 1000;
}

.buttons_interventions {
  text-align: right;
}

#margin_month_slider {
  margin-left:10px;
  margin-right:10px;
}

.popover{
    max-width: 35%; /* Max Width of the popover (depending on the container!) */
}

.modal-lg {
  width: 75%;
}


.shiny-notification {
    margin: auto;
    width: 600px;
    position:fixed;
    text-align: center;
    opacity: 1;
    bottom: calc(40%);
    left: calc(35%);
}


.interventions {
  padding: 5px;
  margin-bottom: 2px; 
}


h4 {
  color:  #2c3e50;
  margin: 5px;
}

.box_outputs {
  margin-top: 5px;
  margin-bottom: 15px;
  border-color: #2c3e50;
  border-top-style: inset;
  border-width: 3px 0 0 0;
}

.box_interventions {
  margin-top: 35px;
  margin-bottom: 15px;
  border-color: #2c3e50;
  border-top-style: inset;
  border-width: 3px 0 0 0;
}

.n_box {
  border: 2px solid black;
  padding: 0 0 5px 5px;
  border-radius: 6px;
}

.n_box_baseline {
  border: 4px solid #bae4bc;
  padding: 0 0 5px 5px;
  margin: 4px;
  border-radius: 6px;
}

.n_box_interventions {
  border: 4px solid #3182bd;
  padding: 0 0 5px 5px;
  margin: 4px;
  border-radius: 6px;
}

.icon_box {
  float: right;
  font-size: 30px;
  margin-right: 5px;
}